<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.glass2">
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name="com.example.glass2.CardActivity"
            android:label="@string/app_name"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/add_an_event" />
        </activity>

        <activity
            android:name="com.example.glass2.MenuActivity"
            android:label="@string/app_name"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/check_me_in" />
        </activity>

        <activity
            android:name="com.example.glass2.FindThePriceActivity"
            android:label="@string/app_name"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/find_the_price" />
        </activity>
    </application>
</manifest>